---
name: Test Release Images
on:
  workflow_dispatch:
    inputs:
      ImageTag:
        default: ""
        
jobs:

  CheckImageAvailability:
    if: always()
    runs-on: ubuntu-latest
    
    steps:

      - name: Check Chaos Exporter Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/chaos-exporter:${{ github.event.inputs.ImageTag }}

      - name: Check Experiment Alpine Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/experiment-alpine:${{ github.event.inputs.ImageTag }}

      - name: Check Infra Alpine Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/infra-alpine:${{ github.event.inputs.ImageTag }}


      - name: Check Python Runner Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/py-runner:${{ github.event.inputs.ImageTag }}

      - name: Check Ansible Runner Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/ansible-runner:${{ github.event.inputs.ImageTag }}

      - name: Check Chaos Exporter Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/chaos-exporter:${{ github.event.inputs.ImageTag }}

      - name: Check Chaos Scheduler Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/chaos-scheduler:${{ github.event.inputs.ImageTag }}

      - name: Check Chaos Runner Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/chaos-runner:${{ github.event.inputs.ImageTag }}

      - name: Check Chaos Operator Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/chaos-operator:${{ github.event.inputs.ImageTag }}

      - name: Check Litmus Go Image
        if: ${{ always() }}     
        run: docker pull litmuschaos/go-runner:${{ github.event.inputs.ImageTag }}
        
